*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-variant: small-caps;
}
body {
  background-color: #1b182cf4;
  width: 18rem;
  margin: 1rem auto;
  text-align: center;
  color: #fff;
  transition: 0.5s ease-in-out;
}
.turn {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 10rem;
  margin: auto;
  height: 5rem;
  position: relative;
}
.turn h2 {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 0.5rem;
}
h5 {
  color: #1f88cf;
}
hr {
  background-color: #1f88cf;
  height: 0.1rem;
  border: none;
  margin-bottom: 0.5rem;
}
#light {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 1rem 0 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}
.turn .turn-box {
  border: 3px solid #000000;
  font-weight: 700;
  font-size: 1.1rem;
}

.turn .turn-box:nth-child(even) {
  border-right: none;
}

.bg {
  position: absolute;
  width: 5rem;
  height: 2.5rem;
  z-index: -1;
  left: 0;
  bottom: 0;
  background-color: #c51d8a;
}
/* .align {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  border: 2px solid #d8d8d8;
  width: 18rem;
  height: 18rem;
  margin: 2rem auto 0;
  background-color: #222;
  padding: 0.3rem;
  border-radius: 0.2rem;
  box-shadow: 0 3px 10px #f502e132;
  position: relative;
}
.grid .box {
  border: 1px solid #c5c5c5;
  /* font-size: 1.6rem; */
  /* font-weight: 700; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b182cf4;
  /* color: #fff; */
  transition: 0.3s ease-in-out;
}
.grid .box:hover {
  background-color: #333;
  /* color: #f0f0f0; */
  box-shadow: 0 0 20px #f502e132;
  scale: 0.99;
}
.grid .box:active {
  background-color: #444;
  /* color: #fff; */
}
#play-again {
  cursor: pointer;
  border: none;
  background-color: #a22075;
  padding: 0.3rem 0.8rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  margin: 0.5rem;
  display: none;
}
#play-again:hover {
  padding: 0.3rem 1.2rem;
  background-color: #1a6aa0;
}
.grid::after {
  content: "";
  background-image: conic-gradient(
    from var(--move),
    #da1792,
    #1187e7,
    #19dc87,
    #b72283
  );
  inset: -0.3rem;
  border-radius: 0.5rem;
  z-index: -1;
  position: absolute;
  animation: move 3s linear infinite;
}
.grid::after {
  filter: blur(5rem);
}
@property --move {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes move {
  from {
    --move: 0deg;
  }
  to {
    --move: 360deg;
  }
}
.player-image {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.im {
  animation: imm .7s ease-in-out infinite;
}
@keyframes imm {
  0%,
  100% {
    filter: brightness(0.6);
  }
  50% {
    filter: brightness(1);
  }
}
